<div id="content">
  <h1>{{ custom_title }}</h1>
  <p><a class="author" href="/authors/{{ author }}">{{ author }}</a> &gt; {{path}} &gt; <a href="/{{ post_id }}">View original post #{{ post_id }}</a></p>
  <article class="">
    <div class="markdown nuance">{{ content_text }}</div>
    <script>
      renderMarkdownAndHighlight(
        document.currentScript.previousElementSibling,
        document.currentScript
          .closest("[data-fragment]")
          ?.getAttribute("data-fragment"),
      );
    </script>
  </article>
</div> 