
[submodule "python-build-standalone"]
	path = dysvm/python-build-standalone
	url = https://github.com/astral-sh/python-build-standalone.git
[submodule "cpython"]
	path = dysvm/cpython
	url = https://github.com/python/cpython.git
[submodule "go-embed-python"]
	path = dysvm/go-embed-python
	url = https://github.com/kluctl/go-embed-python.git
[submodule "dysvm/cpython"]
	path = dysvm/cpython
	url = https://github.com/python/cpython.git
[submodule "dysvm/go-embed-python"]
	path = dysvm/go-embed-python
	url = https://github.com/kluctl/go-embed-python.git
[submodule "dysvm/python-build-standalone"]
	path = dysvm/python-build-standalone
	url = https://github.com/astral-sh/python-build-standalone.git

[submodule "client/docs/dysonprotocol2-dashboard"]
	path = client/docs/dysonprotocol2-dashboard
	url = git@github.com:dysonprotocol/dysonprotocol2-dashboard.git
	branch = develop
